.DS_Store
*.o
*.pyc
*.idea
.tags
rusty-tags.tags
.tags_sorted_by_file
*.sublime-workspace
*.sublime-project
.python-version
*.swp
tags
ctags*
Session.vim
*.iml
.vscode
.ycm_extra_conf.py
cscope.*
node_modules
target
Cargo
ab
fook.txt
rmate.py
foo.hpp
gnuplot
vector*
